* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  padding: 10px;
}

.screen {
  min-height: 20px;
}

.botonWrapper {
  display: grid;
  grid-template-columns: repeat(4, 65px);
  margin-top: 10px;
}
